
<div class="ae-grid au-xs-ta-center au-mb-4">
    <div *ngFor="let experiencia of infoService.experiencia" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
    <img [src]="experiencia.url" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">{{experiencia.empresa}}</h5>
    <p class="ae-u-bolder au-mb-3">{{experiencia.cargo}} </p>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{experiencia.descripcion}}</p><a target="_blank" href="https://www.linkedin.com/in/juan-carlos-bohorquez-marcelo-447811125/?originalSubdomain=co" class="ae-u-bolder au-underline">{{experiencia.rangofecha}}</a>
    </div>
</div>
<div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">QA Analyst | Software Developer</h4>
    <p>I have worked shoulder to shoulder with teams among several projects from game development to banking application e2e testing.<br>I got experience working in agile teams in which SCRUM methodology is a cornerstone for improving team working and outcomes<br>
    I also have experience working with VCS like GIT.</p>
    </div>
</div>
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">This is me</h6>
    <p class="au-lh-3">I'm a honest worker who is always available to give his 100% in the proyect, I'm also preparing myself constantly for becoming better and to stay updated. I love game development which used to be my very first programming attempt also like to enjoy life and to take advantage of my free time... and also love ducks. </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Mission</h6>
    <p class="au-lh-3">In 2026 I'll be CEO of The Jabalí Company Studio which will be one of the hottest studios in software development placed originally in Colombia.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Clients</h6>
    <p class="au-lh-3">My clients has been deligthed to give me the chance of growing at their side, all of the confidence put in my hands has been well retrieved by them, I'm proud of having been part of all the companies I used to work and now I'm pretty proud of been part of Perficient Latin America</p>
    </div>
</div>
<p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Return Home<span class="arrow-cont">
        <svg>
        <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
