<section class="">
<header class="rk-portfolio-cover  item-inside-1">
    <div class="item-inside__meta">
    <h1 class="ae-u-bolder rk-portfolio-title ">My Battlegrounds</h1>
    <p class="ae-theta rk-portfolio-category ">Current battle</p>
    </div>
</header>
<div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
    <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
        <h2 class="rk-portfolio-inner-title ">E2E Test for CI/CD</h2>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
        <p class="rk-portfolio-inner-client "><span class="ae-lambda"></span><span class="ae-u-bolder">The Jabalí Company Studio</span></p>
        <p target="_blank" class="au-underline rk-portfolio-inner-website "><a [href]="" class="ae-kappa">https://itch.io/profile/thejabalicompany</a></p>
        <p class="ae-kappa ae-u-bold rk-portfolio-inner-date "></p>
    </div>
    </div>
</div>
<div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
    <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">Finding, reporting and getting bugs killed before they become features...</h4>
        <p class="ae-eta">From the test plan and among the different phases between development and deployment automation testing and e2e test are a cornerstone of the process </p>
        <p class="ae-eta">Working alone just doesn't work so, working with development team is vital and a fluid communication channel keeps the team united and consolidated.</p>
    </div>
    <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/inner-1.jpg" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-8"><img src="assets/img/stepdefinitions.PNG" alt="Urku Portfolio"></div>
    <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
        <p>Implementing Screenplay Model and Maven or Gradle dependency management </p>
        <p class="au-mb-3">SOLID principles are the best practices an it's implementation is crucial across the whole project <br>Java programming. </p>
        <p class="ae-u-bolder">e2e Tests</p>
    </div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">App development</h4>
        <p class="ae-eta">One of the most powerful tools nowadays as a front end developer is having knowledge about frameworks, and MEAN with Angular or  MERN with React are the way I go... Obviously, I can learn a lot more if needed...</p>
    </div>
    </div>
    <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg--auto"><img src="assets/img/node-logo.png" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-6"><img src="assets/img/inner-2.jpg" alt="Urku Portfolio"></div>
    <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
        <h4 class="ae-u-bolder">CI/CD</h4>
        <p class="ae-eta">Azure devOps | aws | GIT.</p>
        <p class="ae-eta">It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.</p>
    </div>
    </div>
    <div class="ae-grid--alt test">
    <div class="ae-grid__item--alt item-sm--auto item-sm--offset-1 item-lg--offset-0 item-sm--end item-sm--bottom">
        <div class="ae-grid ae-grid--alt8 au-xs-ta-center au-sm-ta-left">
        <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest">1.</span>
            <p class="au-mt-1">Development and unit testing.</p><span class="ae-u-boldest">2.</span>
            <p class="au-mt-1">Automation testing.</p>
        </div>
        <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest">3.</span>
            <p class="au-mt-1">Continious Integrations | Continious deployment. </p><span class="ae-u-boldest">4.</span>
            <p class="au-mt-1">I'm gonna be a cloud engineer.</p>
        </div>
        </div>
    </div>
    <div class="ae-grid__item--alt item-sm--auto item-lg-3 item-lg--offset-1 item-lg--end"><img src="" alt=""></div>
    </div>
</div>
<div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">My Weapons and Skills<span class="arrow-cont">
        <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></div>
</div>
</section>