
<input type="radio" name="layout-ctrl" checked id="layout-base" class="layout-ctrl-input">
<div class="ae-container-fluid rk-layout-ctrl-cont">
    <label for="layout-base" class="rk-layout-ctrl">
    <svg>
        <use xlink:href="assets/img/symbols.svg#icon-view-default"></use>
    </svg>
    </label>
</div>
<input type="radio" name="layout-ctrl" id="layout-grid" class="layout-ctrl-input">
<div class="ae-container-fluid rk-layout-ctrl-cont">
    <label for="layout-grid" class="rk-layout-ctrl">
    <svg>
        <use xlink:href="assets/img/symbols.svg#icon-view-alt"></use>
    </svg>
    </label>
</div>
<div class="rk-layout-ctrl-mobile">
    <svg viewBox="0 0 9 9" class="layout-mob-1">
    <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-2">
    <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-3">
    <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-4">
    <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
</div>
<section class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio ">
    <div class="rk-portfolio__items">
        <a routerLink="/products" class="rk-item rk-item--flex item-1 rk-size-12 rk-tosize-6 rk-landscape ">
            <div class="item-meta">
                <h2>Automation Testing</h2>
                <p>JUnit | Selenium | Serenity BDD | ScreenPlay</p>
            </div>
        </a>
        <a href="portfolio-item.html" class="rk-item rk-item--flex item-2 rk-size-6  rk-portrait ">
            <div class="item-meta">
                <h2>Front-End Web Development</h2>
                <p>MEAN Stack | MERN | BootStrap</p>
            </div>
        </a>
        <a href="portfolio-item.html" class="rk-item rk-item--flex item-3 rk-size-6 rk-tosize-4 rk-portrait rk-tosquare">
            <div class="item-meta">
                <h2>Game Development</h2>
                <p>Unity 3D | Unreal Engine 4 | C# </p>
            </div>
        </a>
    <div class="rk-items-cont rk-size-6 rk-tosize-8"><a href="portfolio-item.html" class="rk-item rk-item--flex item-4 rk-size-12 rk-tosize-6 rk-landscape ">
        <div class="item-meta">
            <h2>Back-End Development</h2>
            <p>nodeJS | python</p>
        </div></a><a href="portfolio-item.html" class="rk-item rk-item--flex item-5 rk-size-12 rk-tosize-6 rk-landscape ">
        <div class="item-meta">
            <h2>Biodiesel etsy</h2>
            <p>Branding</p>
        </div></a>
    </div>
    <a href="portfolio-item.html" class="rk-item rk-item--flex item-6 rk-size-6 rk-tosize-4 rk-portrait rk-tosquare">
        <div class="item-meta">
        <h2>3D pipeline</h2>
        <p>Blender | Krita | Substance painter</p>
        </div>
    </a>
    </div>
</section>
